//georgia 400
//Arial 400
@font-face {
    font-family: 'gorgia';
    src: url('../fonts/Georgia.woff2');
    src: url('../fonts/Georgia.woff');
    src: url('../fonts/Georgia Normal.ttf')
}
@font-face {
    font-family: 'arial';
    src: url('../fonts/ArialMT.woff2');
    src: url('../fonts/ArialMT.woff');
    src: url('../fonts/ArialRegular.ttf');
}