@mixin wrapper() {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

$color: #f1cdb3;

@mixin flex ($direct, $align) {
    display: flex;
    justify-content: space-between;
    align-items: $align;
    flex-direction: $direct;
}

@mixin font ($fam, $size, $height, $color) {
    font-family: $fam;
    font-size: $size;
    line-height: $height;
    color: $color;
}

.header {
    width: 100%;
    background-image: url('../images/background.png');
    background-size: cover;
    color: #FFFFFF;
}

.header__wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 60px 40px 60px 40px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__logo {
    display: inline-flex;
    width: 184px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-right: 573px;
}

.header__logo h1 {
    font-family: 'gorgia';
    font-size: 32px;
    color: #F1CDB3;
    line-height: 110%;
    margin-bottom: 10px;
}

.header__logo p {
    font-family: 'arial';
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 15px / 13px * 100%;
}

.nav {
    height: 27px;
}

.navigate {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigate__item {
    margin-right: 35px;
    font-family: 'arial';
    font-size: 15px;
    line-height: 150%;
}

.navigate__item:last-child {
    margin-right: 0px;
}

.navigate__item:hover,
.navigate__item:active {
    border-bottom: 3px solid #F1CDB3;
}
.header__burger{
    display: none
}

//main-screen
.main__wrapper {
    @include wrapper();
    @include flex(row, center);
}

.main__info {
    width: 460px;
    @include flex(column, flex-start);
    margin-right: 42px;
}

.main__info h2 {
    margin-bottom: 42px;
    font-family: 'gorgia';
    font-size: 44px;
    line-height: 130%;
}

.main__info p {
    font-family: 'arial';
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin-bottom: 42px;
}

.main__info a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #F1CDB3;
    width: 207px;
    height: 52px;
    border-radius: 100px;
    font-family: 'gorgia';
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.main__info a:hover {
    background-color: #FDDCC4
}

.main__info a:active {
    transform: scale(0.9)
}

.main__wrapper img {
    width: 698px;
    height: 728px;
}

@media (max-width: 1280px) {
    .header__wrapper {
        padding-top: calc(30px + (60 - 30) * ((100vw - 768px) / (1440 - 768)));
        padding-left: calc(30px + (40 - 30) * ((100vw - 768px) / (1440 - 768)));
        padding-bottom: calc(30px + (60 - 30) * ((100vw - 768px) / (1440 - 768)));
        padding-right: calc(30px + (40 - 30) * ((100vw - 768px) / (1440 - 768)));
    }
    .header__logo {
        margin-right: calc(81px + (573 - 81) * ((100vw - 768px) / (1440 - 768)));
    }
    
    //main-screen
    .main__wrapper {
        @include flex(column, center);
    }

    .main__info {
        width: calc(460px + (800 - 460) * ((100vw - 768px) / (1280 - 768)));
        margin: 0px 0px 100px 0px;
    }
    .main__info a{
        margin-left: calc(50% - 103.5px);
    }
    .main__wrapper img {
        width: calc(569px + (698 - 569) * ((100vw - 768px) / (1440 - 768)));
        height: calc(593px + (728 - 593) * ((100vw - 768px) / (1440 - 768)));
    }
}