@mixin wrapper() {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

$color: #f1cdb3;

@mixin flex ($direct, $align) {
    display: flex;
    justify-content: space-between;
    align-items: $align;
    flex-direction: $direct;
}

@mixin font ($fam, $size, $height, $color) {
    font-family: $fam;
    font-size: $size;
    line-height: $height;
    color: $color;
}
.closed{
    overflow: hidden;
}
.pets__modal__back{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.6;
    background-color: #292929;
    transition: .1s;
    visibility: hidden;
}
.pets__modal__back.active{
    visibility:visible
}
.pets__modal__content{
    width: 952px;
    height: 552px;
    position: fixed;
    top: -100%;
    max-height: 0px;
    overflow: hidden;
    left: calc(50% - 476px);
    transition: .3s;
}
.pets__modal__content.active{
    top: calc(50% - 276px);
    max-height: 552px;
}
.modal__content__wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.modal__close{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 52px;
    height: 52px;
    border: 2px solid $color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__close:active{
    transform: scale(0.9);
}
.modal__close img{
    width: 12px;
    height: 12px;
}
.modal__content__window{
    position: absolute;
    top: 52px;
    left: 0px;
    width: 900px;
    height: 500px;
    @include flex(row, center);
    background-color: #ffff;
    border-radius: 9px;
}
.modal__window__image{
    width: 500px;
    height: 100%;
    border-radius:9px 0px 0px 9px ;
    background-size: 100%;
}

.modal__content__info{
    margin: 50px 20px 88px 29px;
    width: 351px
}
.modal__content__info h2{
    @include font('gorgia', 35px, 130%, #000000);
    margin-bottom: 10px;
}
.modal__content__info h3{
    @include font('gorgia', 20px, 115%, #000000);
    margin-bottom: 40px;
}
.modal__content__info p{
    @include font('gorgia', 15px, 115%, #000000);
    margin-bottom: 40px;
    letter-spacing: 0.06em;
}
.modal__info__characteristics{
    list-style-image: url('../../../svg/dot-marker.svg');
    @include font('gorgia', 15px, 110%, #000000)
}
.modal__item{
    height: 17px;
    margin-bottom: 10px
}
.modal__item:last-child{
    margin: 0px;
}
.modal__item dl{
    @include flex(row, center);
    display: inline-flex;
}

@media (max-width: 1280px){
    .pets__modal__content{
        width: calc(682px + (952 - 682) * ((100vw - 768px) / (1280 - 768)));
        height: calc(402px + (552 - 402) * ((100vw - 768px) / (1280 - 768)));
        left: calc(50% - calc(341px + (476 - 341) * ((100vw - 768px) / (1280 - 768))));
    }
    .pets__modal__content.active{
        top: calc(50% - calc(201px + (276 - 201) * ((100vw - 768px) / (1280 - 768))));
    }
    .modal__content__window{
        width: calc(630px + (900 - 630) * ((100vw - 768px) / (1280 - 768)));
        height: calc(350px + (500 - 350) * ((100vw - 768px) / (1280 - 768)));
    }
    .modal__window__image{
        width: calc(350px + (500 - 350) * ((100vw - 768px) / (1280 - 768)));
    }
    .modal__content__info{
        margin: 50px 20px 88px 29px;
        margin-top: calc(10px + (50 - 10) * ((100vw - 768px) / (1280 - 768)));
        margin-right: calc(9px + (20 - 9) * ((100vw - 768px) / (1280 - 768)));
        margin-bottom: calc(37px + (88 - 37) * ((100vw - 768px) / (1280 - 768)));
        margin-left: calc(11px + (29 - 11) * ((100vw - 768px) / (1280 - 768)));
        width: calc(260px + (351 - 260) * ((100vw - 768px) / (1280 - 768)));
    }
    .modal__content__info h3{
        margin-bottom: calc(20px + (40 - 20) * ((100vw - 768px) / (1280 - 768)));
    }
    .modal__content__info p{
        margin-bottom: calc(20px + (40 - 20) * ((100vw - 768px) / (1280 - 768)));
        font-size: calc(13px + (2 + 2 * 0.7) * (100vw - 768px) / 1280);
        line-height: 110%;
    }
    .modal__item{
        margin-bottom: calc(5px + (10 - 5) * ((100vw - 768px) / (1280 - 768)));
    }
}

@media (max-width: 766px){
    .pets__modal__content{
        width: calc(270px + (682 - 270) * ((100vw - 320px) / (766 - 320)));
        height: calc(393px + (402 - 393) * ((100vw - 320px) / (766 - 320)));
        left: calc(50% - calc(135px + (341 - 135) * ((100vw - 320px) / (766 - 320))));
    }
    .pets__modal__content.active{
        top: calc(50% - 196.5px);
    }
    .modal__content__window{
        width: calc(240px + (630 - 240) * ((100vw - 320px) / (766 - 320)));
        height: calc(341px + (350 - 341) * ((100vw - 320px) / (766 - 320)));
    }
    .modal__window__image{
        display: none;
    }
    .modal__content__info{
        margin: 0px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
    .modal__content__info h2{
        text-align: center;
    }
    .modal__content__info h3{
        text-align: center;
        margin-bottom: 20px;
    }
    .modal__content__info p{
        margin-bottom: 24px;
    }
    .modal__info__characteristics{
        text-align: left;
        width: 80%;
    }
    .modal__item{
        margin: 0px 0px 5px 10px;
    }
    .modal__item:last-child{
        margin: 0px 0px 0px 10px;
    }
}

@media (min-width: 1000px){
    .modal__close:hover{
        background-color: #f1cdb3;
    }
}