@mixin wrapper() {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

$color: #f1cdb3;

@mixin flex ($direct, $align) {
    display: flex;
    justify-content: space-between;
    align-items: $align;
    flex-direction: $direct;
}

@mixin font ($fam, $size, $height, $colorr) {
    font-family: $fam;
    font-size: $size;
    line-height: $height;
    color: $colorr;
}

.footer {
    width: 100%;
    background-image: url('../../images/background.png');
    background-size: cover;
}

.footer__wrapper {
    @include wrapper();
    @include flex(row, flex-start);
    gap: 160px;
    box-sizing: border-box;
    padding: 40px 40px 0px 40px;
}

.footer__block__contacts {
    @include flex(column, flex-start);
    margin-top: 16px;
    color: #FFFFFF;
    gap: 40px;
}

.footer__block__location {
    @include flex(column, flex-start);
    gap: 34px;
    margin-top: 16px;
}

.footer__block__contacts h2{
    @include font('gorgia', 35px, 130%, #FFFFFF)
}

.footer__block__location h2{
    @include font('gorgia', 35px, 130%, #FFFFFF)
}

.footer__address__contacts{
@include flex(column, flex-start);
gap: 40px;
}

.footer__contacts__link{
@include flex(row, center);
gap: 20px;
@include font('gorgia',20px , 115%, $color);
}

.footer__address__location{
@include flex(column, flex-start);
gap: 32px;
}
.footer__location__link{
@include flex(row, center);
gap: 20px;
@include font('gorgia',20px , 115%, $color)
}
.footer__puppy{
    width: 300px;
    height: 310px;
}

@media (max-width: 1280px){
    .footer__wrapper {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 65px 60px;
        padding: 30px 30px 0px 30px;
    }
    
    .footer__block__contacts {
        margin: 0px;
        width: 278px
    }
    
    .footer__block__location {
        width: 302px;
        margin: 0px;
    }
}
@media (max-width: 766px){
.footer__wrapper {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 30px 10px 0px 10px;
}

.footer__block__contacts {
    align-items: center;
}

.footer__block__location {
    align-items: center;
    gap: 40px;
}

.footer__block__contacts h2{
    text-align: center;
    font-size: calc(25px + (10 + 10 * 0.7) * (100vw - 320px) / 766);
}

.footer__block__location h2{
    font-size: calc(25px + (10 + 10 * 0.7) * (100vw - 320px) / 766);
    text-align: center
}

.footer__address__contacts{
max-height: 0px;
overflow: hidden;
align-items: flex-start;
gap: 40px;
transition: all .5s;
}

.footer__address__contacts.active{
max-height: 300px;
}


.footer__address__location{
    max-height: 0px;
    overflow: hidden;
    align-items: flex-start;
    gap: 40px;
    transition: all .5s;
}
.footer__address__location.active{
    max-height: 300px;
}

.footer__puppy{
    width: calc(260px + (300 - 260) * ((100vw - 320px) / (766 - 320)));
    height: calc(269px + (310 - 269) * ((100vw - 320px) / (766 - 320)));
}
}