@mixin wrapper() {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

$color: #f1cdb3;

@mixin flex ($direct, $align) {
    display: flex;
    justify-content: space-between;
    align-items: $align;
    flex-direction: $direct;
}

@mixin font ($fam, $size, $height) {
    font-family: $fam;
    font-size: $size;
    line-height: $height;
}

.pets__slider {
    .slick-list {
    overflow: hidden;
    max-width: 990px;
    margin: 0 auto;
}
.slick-track {
    @include flex(row, center);
}
.slick-arrow {
    cursor: pointer;
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: 2px solid $color;
    border-radius: 50%;
}
.slick-arrow img {
    width: 14px;
    height: 6px;
}
.slick-arrow:active {
    transform: scale(0.9);
}
}
.pets__slider__card {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pets__card__wrapper{
    border-radius: 9px 9px 0px 0px;
    @include flex(column, center)
}

@media (max-width: 1280px){
    .pets__slider{ .slick-list {
       max-width: calc(578px + (1000 - 580) * ((100vw - 768px) / (1280 - 768)));
    }}
}

@media (max-width: 766px){
    
    .pets__slider{.slick-list {
       max-width: calc(275px + (580 - 270) * ((100vw - 320px) / (766 - 320)));
    }}
    
}

@media (min-width: 1000px){
    .pets__slider{.slick-arrow:hover{
        background-color: $color;
    }}
}